<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206850288656-9sgcnq2gf1r6l4iegse1al0g4rb9lfdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206850288656-9sgcnq2gf1r6l4iegse1al0g4rb9lfdc</string>
	<key>API_KEY</key>
	<string>AIzaSyC-gALpJvdmdFUmcu13GwYM1NzYDg33CII</string>
	<key>GCM_SENDER_ID</key>
	<string>206850288656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syedasif007.app.socialWall</string>
	<key>PROJECT_ID</key>
	<string>social-wall-808a5</string>
	<key>STORAGE_BUCKET</key>
	<string>social-wall-808a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206850288656:ios:ec3ce989ad14db3bceae95</string>
</dict>
</plist>